<!DOCTYPE html>
<html ng-app='Alimenting'>
<head>
	<meta charset="UTF-8">
	<title>Alimenting with Ailments</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="/angular/angular.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
	<script type="text/javascript" src='/js/users_controller.js'></script>
</head>
<body>
	<div class="welcome-div" ng-controller="UsersController as users">
		<h1>Welcome to Alimenting with Ailments</h1>
		<div ng-switch on="users.selection">
			<a ng-click="users.activate('join')" href="#">Join Our Community</a>
			<a href="#" ng-click="users.activate('signIn')">Sign In</a>
			<a ng-click="users.activate('ailments')" href="#">View Aliments for Specific Ailments</a>
			<form ng-switch-when="join" ng-submit="users.new()">
				<label>First Name:</label>
				<input type="text" ng-model="users.f_name"><br>
				<label>Last Name:</label>
				<input type="text" ng-model="users.l_name"><br>
				<label>E-mail:</label>
				<input type="text" ng-model="users.email"><br>
				<label>Password:</label>
				<input type="password"  ng-model="users.password"><br>
				<input type="submit" id="add-user-btn" value="Join">
	 		</form>
			
			<form ng-switch-when="signIn" ng-submit="users.signIn()">
				<label>E-mail:</label>
				<input type="text" ng-model="users.email"><br>
				<label>Password:</label>
				<input type="password" ng-model="users.password"><br>
				<input type="submit" id="sign-in-btn" value="Sign In">
			</form>

		
			<div ng-switch-when="ailments">
				<div ng-include src="'/ailments'"></div>
			</div>
		</div><!--ends ng-switch-->
	</div><!--end usersController-->

</body>
</html>